
*#*
*.a
*.elc
*.la
*.lineno
*.lo
*.log
*.o
*.pdf
*.status
*.t2d
*~
.deps
.libs
/aclocal.m4
/config.h
/config.hin
/configure
/doc/manual/TAFK.ps
/doc/manual/TAFK.ps.tmp
Makefile
Makefile.in
autom4te.cache
defs
libtool
stamp-h*
