/* GrassRootsDesign Stylesheet example */

body	{
	bgcolor: #FFFF99;
	font-family: "trebuchet ms", arial, helvetica, sans-serif;
	padding-right: 25px; padding-left: 25px;
}
p		{
	color: #1C1C53;
}
A:link 		{
	color: #007B53;
	text-decoration: none
}
A:visited 	{
	color: #990033;
	text-decoration: none
}
A:active	{
	color: #FF6600;
	text-decoration: none
}
A:hover 	{
	color: #333399;
	text-decoration: none
}
h1 		{
	color: #26405F;
}
h2 		{
	color: #6D320B
}
h3		{
	color: #580032;
}
h4 		{
	color: #000078;
}
h5 		{
	color: #135080;
}
h6		{
	color: #6F4F38;
}
li 		{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
}
td		{
	color: #1C1C53;
}
.shadow	{
	color: #003300;
	filter: shadow(Color=#9fcdaa,Direction=135);
	padding: 5pt 12pt;
	height: 60;
	position: relative;
	left: 0;
	top: 0;
	font-family: "trebuchet ms", arial, helvetica;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
}
.shdwbrdr  {
	color : #005B57;
	filter : shadow(Color=#9fcdaa,Direction=135);
	padding : 5pt 12pt;
	height : 10;
	position : relative;
}
.tiny 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.bkgrdclr 	{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEDFF;
	background-image: url(/pics/grey-bkgrd.gif);
	border : 5px;
}
.lgttl 	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.computer {
	color: #212163;
	font-family: "Courier New", Courier, mono;
}
.xtiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
.article {
	position: absolute;
	visibility: hidden;
}
.title {
	font-family: "trebuchet ms", arial, helvetica, verdana;
	font-size: 11;
	color: darkred;
	position: absolute;
	visibility: hidden;
}
.dfclr {
	color: #1C1C53;
	font-family: "trebuchet ms", arial, helvetica;
}
.xxtiny {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}
.lgwht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
}
.smwht {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
}
.bttn {
	font-size: 8pt;
	background-color: #1365424;
}
.btny  {
	color : #004900;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	background-color : transparent;
}

.rdtny  {
	color : #000046;
}

.bkgrdclr  {
	font-family : Arial, Helvetica, sans-serif;
	background-color : #FFFFCC;
	background-image : url(/images/bkgrd/grey.jpg);
}

.headline1  {
	font-family : "trebuchet ms", arial, helvetica;
	text-align : center;
	color= #333399; color : #46696F;
}

.headline3  {
	font-family : "trebuchet ms", arial, helvetica;
	text-align : center;
	color : #996600;
	font-size : 16pt;
}

.visbrdr  {
	position : absolute;
	visibility : hidden;
	background : #F2ECEC no-repeat;
	border-style : ridge;
	border-top-width : 2px;
	border-right-width : 2px;
	border-bottom-width : 2px;
	border-left-width : 2px;
	clip :   rect(   );
	padding-top : 2px;
	padding-right : 2px;
	padding-bottom : 2px;
	padding-left : 2px;
	text-align: center;
	left: 75px;
}

.small { 
	font-size : 10pt; 
	color: #101030;
}
td { 
	font-family : "Trebuchet MS", Arial, helvetica, sans-serif;
	color : #003366;
}
.large {  
	font-size: 18pt;
}
ul { 
	list-style-image: url(/images/clip/bull5.gif);
}
.lite {
	filter: Light(0): addPoint(10,10,100,255,255,255,1000);
	color : #2F4AD2;
	font-size: 10pt;
}
.tinybold { 
	font-size : 9pt;
	font-weight: bold;
	font-style: italic;
}
.frmbg-mny { 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEDFF; 
	background-image: url(/images/bkgrd/money.jpg); 
	border : 5px outset; 
}
.frmbg {
	font-family : Arial, Helvetica, sans-serif; 
	background-color : #FFFFCC; 
	background-image : url(/images/bkgrd/grey.jpg);
	border : 5px outset; 
	border-color: #999999 #000000 #333333 #CCCCCC}
.smblk { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-weight: normal;
	color: #000000; }
