Source: vaucanson
Section: devel
Priority: optional
Maintainer: Olivier Gournet <olivier.gournet@lrde.epita.fr>
Build-Depends-Indep: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2

Package: vaucanson
Architecture: all
Depends: ${shlibs:Depends}
Description:  C++ generic library for weighted finite state machine
 The goal of this library is  to enable the development of C++ programs
 in  an abstract  and  general way  with,  at the  same  time, a  large
 specialization power. Indeed, on the one hand, we can write algorithms
 working on  every automaton with  weights over any semirings  and with
 words  from any  free monoids.  And on  the other  hand,  a particular
 algorithm  can   be  specialized  for  a   particular  data  structure
 implementing only a pseudo behaviour.
 .
 Yet, Vaucanson is an ongoing development project. Therefore
 algorithms, data structures and the general architecture are not
 totally stable and well tested.
 .
 For documentation and demo programs, install vaucanson-doc.

Package: vaucanson-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}, vaucanson (= ${Source-Version})
Description: Vaucanson documentation and samples
 documentation and samples for Vaucanson.
